<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <div class="container">
        <form class="log-in">
            <fieldset>
                <legend>Log In</legend>
                <div>
                    <label for="username-field-log-in">Username:</label>
                    <input type="text" name="username" placeholder="Username" id="username-field-log-in">
                </div>
                <div>
                    <label for="password-field-log-in">Password:</label>
                    <input type="text" name="password" placeholder="Password" id="password-field-log-in">
                </div>
            </fieldset>
            <input type="submit" value="Submit">
        </form>
        <form class="register">
            <fieldset>
                <legend>Register</legend>
                <div>
                    <label for="first-name-field">First Name:</label>
                    <input type="text" name="first-name" placeholder="First Name" id="first-name-field">
                </div>
                <div>
                    <label for="last-name-field">Last Name:</label>
                    <input type="text" name="last-name" placeholder="Last Names" id="last-name-field">
                </div>
                <div>
                    <label for="username-field">Username:</label>
                    <input type="text" name="username" placeholder="Username" id="username-field">
                </div>
                <div>
                    <label for="password-field">Password:</label>
                    <input type="text" name="password" placeholder="Password" id="password-field">
                </div>
            </fieldset>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>