<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <div class="container">
        <form class="log-in">
            <fieldset>
                <legend>Log In</legend>
                <div>
                    <label for="username-field-log-in">Username:</label>
                    <input type="text" name="username" placeholder="Username" id="username-field-log-in">
                </div>
                <div>
                    <label for="password-field-log-in">Password:</label>
                    <input type="text" name="password" placeholder="Password" id="password-field-log-in">
                </div>
            </fieldset>
            <a href="#" id="log-in-button" >Submit</a>
        </form>
        <form class="register">
            <fieldset>
                <legend>Register</legend>
                <div>
                    <label for="first-name-field">First Name:</label>
                    <input type="text" name="first-name" placeholder="First Name" id="first-name-field">
                </div>
                <div>
                    <label for="last-name-field">Last Name:</label>
                    <input type="text" name="last-name" placeholder="Last Names" id="last-name-field">
                </div>
                <div>
                    <label for="username-field">Username:</label>
                    <input type="text" name="username" placeholder="Username" id="username-field">
                </div>
                <div>
                    <label for="password-field">Password:</label>
                    <input type="text" name="password" placeholder="Password" id="password-field">
                </div>
            </fieldset>
            <a href="#" id="register-button">Submit</a>
        </form>
    </div>
</body>
    <script>

        var logInButton = document.getElementById('log-in-button'),
            registerButton = document.getElementById('register-button');

        logInButton.addEventListener('click', function(e) {
            e.preventDefault();
            var xhr = new XMLHttpRequest(),
                username = document.getElementById('username-field-log-in').value,
                password = document.getElementById('password-field-log-in').value,
                data;

            xhr.open('POST', '/users', true);
            xhr.setRequestHeader("Content-type", "application/json");

            xhr.onreadystatechange = function() {
                if (xhr.readyState != 4 || xhr.status != 200) return;
                console.log(xhr.responseText);
            };

            data = {
                username: username,
                password: password
            };

            xhr.send(JSON.stringify(data));

        });

        registerButton.addEventListener('click', function(e) {
            e.preventDefault();
            var xhr = new XMLHttpRequest(),
                username = document.getElementById('username-field').value,
                password = document.getElementById('password-field').value,
                firstName = document.getElementById('first-name-field').value,
                lastName = document.getElementById('last-name-field').value,
                data;

            xhr.open('POST', '/users', true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.onreadystatechange = function() {
                if (xhr.readyState != 4 || xhr.status != 200) return;
                console.log(xhr.responseText);
            };

            data = {
                username: username,
                password: password,
                firstName: firstName,
                lastName: lastName
            };

            xhr.send(JSON.stringify(data));
        });

    </script>

</html>